<ion-view view-title="Petrol Expense Data">
    <style>
        input {
            text-align: right;
        }

        #inputBox {
            width: 100%;
            z-index: 100;
            position: fixed;
            bottom: -10px;
            border-radius: 15px;
            box-shadow: 0 -5px 10px #808080;
        }

        .input-label {
            font-weight: 800;
        }

        #inputBox > label {
        }

        #recordList {
            z-index: -1;
            width: 100%;
            position: fixed;
            overflow: scroll;
            margin-right: auto;
            margin-left: auto;
            border-radius: 10px;
        }

        #inputTitle {
            height: 20px;
            margin-bottom: 0;
            border-bottom: 1px solid #cbcaca;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }
        .record-unit{
            color: grey;
        }
        .record-text{
            color: black;
            font-weight: 700
        }
        .record-edit{
            background-color: #e4e9ee;
        }
        .input-edit-title{
            background-color: orange;
            color: white;
        }
        .input-new-title{
            
            color: #626161;
            background-color: rgba(199, 199, 199, 0.51);
        }
        ::-webkit-scrollbar,
        *::-webkit-scrollbar {
            display: none;
        }
    </style>
    <ion-content>

        <ion-list id="recordList" ng-style="listHeight">
            <ion-item ng-repeat="record in records" 
                      style="height:50px; padding-top: 5px; border-color: #e9e8e8"
                      ng-class="{'record-edit':editableField===$index}">
                <div class="row record-text" 
                     ng-click="editField($event, $index, record.petrol, record.meter,record.rate)"
                     style="font-size: small;">
                    <div class="col col-10" ng-show="editableField===$index">
                        <i class="icon ion-ios-undo"
                           style="font-size:x-large; color:blue"
                           ></i>
                    </div>
                    <div class="col col-20" style="text-align: center"><span class="record-unit">#{{$index+1}}</span></div>
                    <div class="col col-30">{{record.petrol}} <span class="record-unit"> Rs</span></div>
                    <div class="col col-30">{{record.meter}} <span class="record-unit"> Km</span></div>
                    <div class="col col-30">{{record.rate}} <span class="record-unit"> Rs/Lt</span></div>
                </div>

            </ion-item>
            <div id="scrollElement"></div>
        </ion-list>
        <div id="inputBox" class="list">
            <p class="text-center" 
               id="inputTitle"
               ng-class="input_edit_record ? 'input-edit-title' : 'input-new-title'">{{inputTitle}}</p>
            <label class="item item-input">
                <input type="number" placeholder="Petrol in Rs" data-ng-model="petrol"><span class="input-label">Rs</span>
            </label>
            <label class="item item-input">
                <input type="number" placeholder="Meter reading" data-ng-model="meter"><span class="input-label">Km</span>
            </label>
            <label class="item item-input">
                <input type="number" placeholder="Current petrol rate" data-ng-model="rate"><span class="input-label">Rs/Lt</span>
            </label>

            <button class="button button-full button-positive" 
                    ng-click="newRecord(petrol, meter, rate)"
                    ng-if="!input_edit_record">
                Done
            </button>
            <button class="button button-full button-balanced" 
                    ng-click="updateRecord($event, petrol, meter, rate)"
                    ng-if="input_edit_record">
                Save
            </button>
        </div>
    </ion-content>

</ion-view>
